<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/crearStyle.css">
  <title>Crear Historia</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Crear Historia</h1>
    </header>
    <form>
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" placeholder="Ingrese el título">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" rows="4" placeholder="Ingrese la descripción"></textarea>
      </div>
      <button type="submit" class="crear-historia">Crear Historia</button>
      <button type="button" class="volver" onclick="window.history.back();">Volver</button>
    </form>
  </div>
</body>
</html>
