<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva Historia</title>
  <link rel="stylesheet" href="../styles/indexStyle.css">
</head>
<body>
  <div class="container">
    <header>
        <a href="../templates/crear.html">
      <button class="nueva-historia">Nueva Historia</button>
        </a>
    </header>
    <main>
      <section class="recientes">
        <h2>Recientes</h2>
        <div class="historia">mi historia 1</div>
        <div class="historia">mi historia 2</div>
        <div class="historia">mi historia 3</div>
      </section>
      <footer>
        <button class="ver-todo">Ver Todo</button>
        <button class="add">+</button>
      </footer>
    </main>
  </div>
</body>
</html>
